body {
    background-color: #000000;
    color: white;
}

.header{
    background-color: #3d3d3d;
    border: 3px solid white;
    border-radius: 60px 10px;
    text-align: center;
    padding-bottom: 2px;
    z-index: 2;
}

.large {
    font-family: 'Helvetica', sans-serif;
    font-size: 120px;
    color: rgb(191, 191, 191);
}

.small{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(148, 148, 148);
}

.name{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
}